body,ul,ol,p,th,td,tr,dl,h1,h2,h3,h4 { font-family: arial,sans-serif; }
pre,tt { font-family: monospace }
A:link { color: #00c }
A:visited { color: #008 }
A:active { color: #00f }
body { background: #fff url(back.gif) repeat-x; }
td h1 { margin-top: 0pt; margin-bottom: 0pt}
.footer {font-size: 80% }
.info li { margin-top: 5pt; margin-botton: 5pt; }
table.box img { vertical-align: bottom; }
table.box tt { font-size: 11pt; }
.smallcap { font-variant: small-caps }
table.note { background: #eef; border-style: dashed; border-width: 1px; border-color: #77a } 
